controller_manager:
  ros__parameters:
    update_rate: 100
    use_sim_time: true

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    effort_controller:
      type: effort_controllers/JointGroupEffortController


effort_controller:
  ros__parameters:
    use_sim_time: true
    joints:
      - revolute_joint
      - first_pendulum_joint
      - second_pendulum_joint
    
    command_interfaces:
      - effort
    
    state_interfaces:
      - position
      - velocity
